.navbar {
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
}

.navbar .title  {
    text-decoration: none;
    color: green;
}

.navbar .logout-button{
    margin: 16px;
    background: green;
    color: white;
    padding: 12px;
    border-radius: 6px;
    text-decoration: none;
}